body {
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.mdp-generator {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espace entre l'input et le bouton */
}
