/* Carte principale */
.corp-custom {
    background: linear-gradient(135deg, #6a0dad, #8a2be2);
    width: 320px;
    border-radius: 15px;
    border: 2px solid #b19cd9;
    color: white;
}

/* Input */
#display {
    background-color: #f8e8ff;
    border: none;
    font-weight: bold;
}

/* Boutons violet personnalisés */
.btn-violet {
    background-color: white;
    color: #6a0dad;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-violet:hover {
    background-color: #e0c3fc;
    transform: scale(1.05);
}

/* Message */
#affichage-batonnets {
    font-weight: 500;
}